<!doctype html>
<html>
  <head>
    <!-- Basic Page Needs
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta charset="utf-8">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Casas Ferrmax" %></title>
    <meta name="description" content="Casas Ferrmax tiene amplia variedad de casas prediseñadas para construir en Puerto Rico.">
 		<meta name="author" content="Tino Vergne">

    <!-- Mobile Specific Metas
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- FONT
  	–––––––––––––––––––––––––––––––––––––––––––––––––– -->
 	 <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
	 <%= stylesheet_link_tag "fontawesome-all" %>

   <!-- CSS
   –––––––––––––––––––––––––––––––––––––––––––––––––– -->
   <%= stylesheet_link_tag "normalize" %>
   <%= stylesheet_link_tag "skeleton" %>
   <%= stylesheet_link_tag "main" %>

 </head>

  <body>

    <%= partial "partials/header" %>

    <%= yield %>

    <%= partial "partials/footer" %>

  <!--Scripts
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <%= javascript_include_tag "main" %>

  <!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  </body>
</html>
